In [1]:
#swapping first and last element of the list
my_list=[1,2,3,4,5]
my_list[0],my_list[-1]=my_list[-1],my_list[0]
print(my_list)

[5, 2, 3, 4, 1]

In [4]:
#Swapping any two elements in the list
def swap_pos(list,p1,p2):
    list[p1],list[p2]=list[p2],list[p1]
    return list
list=[1,2,3,4,5,6,7,8]
p1,p2=3,4
print(swap_pos(list,p1,p2))

[1, 2, 3, 5, 4, 6, 7, 8]

In [12]:
#swapping elements in a list containing strings
my_list=['astha','is','very','smart']
list1=" ".join(my_list)#converting list to string using join
list1=list1.replace("a","A").replace("very","not").split(" ")#using split to convert string to list
print(list1)

['AsthA', 'is', 'not', 'smArt']

In [16]:
#length of  a list              
my_list=[1,2,3,4,5,6,7]
length=len(my_list)
print(length)

7

In [19]:
#reversing a list
my_list=[1,2,3,4,5,6]
reverse=my_list[::-1]
print(reverse)

[6, 5, 4, 3, 2, 1]

In [23]:
#max and min function
a=int(input())
b=int(input())
c=max(a,b)
d=min(a,b)
print(c,d)

4
5
5 4

In [24]:
#counting in a list
mylist=['astha','is','astha','is']
c=mylist.count('astha')
if c>0:
    print(c)
else:
    print("not in the lsit")

2

In [25]:
#another way of checking if the element exists in a list
my_list=['astha','is','astha']
if 'astha'in my_list:
    print("yes")

yes

In [29]:
#copying or cloning a list
my_list=[1,2,3,4,5]
copy=my_list[:]
print(copy)

[1, 2, 3, 4, 5]

In [33]:
a=int(input())
b=int(input())
c=int(input())
d=min(a,b,c)
print(d)

2
3
4
2

In [2]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [3]:
lesser_of_two_evens(4,8)

4

In [4]:
def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [5]:
animal_crackers('Levelheaded Llama')

True

In [6]:
animal_crackers('Crazy Kangaroo')

False

In [7]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [8]:
makes_twenty(2,3)

False

In [9]:
makes_twenty(10,10)

True

In [10]:
#Write a function that capitalizes the first and fourth letters of a name
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'
old_macdonald('macdonald')

'MacDonald'

In [11]:
#Given a sentence, return a sentence with the words reversed
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [12]:
master_yoda('I am home')

'home am I'

In [13]:
#Given an integer n, return True if n is within 10 of either 100 or 200
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))
almost_there(90)

True

In [14]:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [15]:
has_33([1, 3, 3])

True

In [16]:
#Given a string, return a string where for every character in the original there are three characters
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [17]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [18]:
#Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [19]:
blackjack(5,6,7)

18

In [20]:
blackjack(9,9,9)

'BUST'

In [21]:
#Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [22]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [23]:
#Write a function that takes in a list of integers and returns True if it contains 007 in order
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [24]:
spy_game([1,2,4,0,0,7,5])

True

In [25]:
#Write a function that returns the number of prime numbers that exist up to and including a given number
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [26]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [27]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [28]:
print_big('b')

****
*   *
****
*   *
****

In [29]:
#Write a function that computes the volume of a sphere given its radius.
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [30]:
vol(4)

267.94666666666666

In [31]:
#Write a function that checks whether a number is in a given range (inclusive of high and low)
def ran_check(num,low,high):
    #Check if num is between low and high (including low and high)
    if num in range(low,high+1):
        print('{} is in the range between {} and {}'.format(num,low,high))
    else:
        print('The number is outside the range.')

In [32]:
ran_check(5,2,7)

5 is in the range between 2 and 7

In [33]:
#Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.
def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [34]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

In [35]:
#Write a Python function that takes a list and returns a new list with unique elements of the first list.
def unique_list(lst):
    # Also possible to use list(set())
    x = []
    for a in lst:
        if a not in x:
            x.append(a)
    return x

In [36]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [37]:
#Write a Python function to multiply all the numbers in a list
def multiply(numbers):
    total = 1
    for x in numbers:
        total *= x
    return total

In [38]:
multiply([1,2,3,-4])

-24

In [39]:
#Write a Python function that checks whether a word or phrase is palindrome or not.
def palindrome(s):
    
    s = s.replace(' ','') # This replaces all spaces ' ' with no space ''. (Fixes issues with strings that have spaces)
    return s == s[::-1]

In [40]:
palindrome('nurses run')

True

In [41]:
#Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)

#Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
import string

def ispangram(str1, alphabet=string.ascii_lowercase): 
    # Create a set of the alphabet
    alphaset = set(alphabet)  
    
    # Remove spaces from str1
    str1 = str1.replace(" ",'')
    
    # Lowercase all strings in the passed in string
    # Recall we assume no punctuation 
    str1 = str1.lower()
    
    # Grab all unique letters in the string as a set
    str1 = set(str1)
    
    # Now check that the alpahbet set is same as string set
    return str1 == alphaset

In [42]:
ispangram("The quick brown fox jumps over the lazy dog")

True